@tailwind base;
@tailwind components;
@tailwind utilities;

/* Buton Stili */
.custom-button {
  background-color: #7c3aed; /* bg-indigo-400 */
  color: #ffffff; /* text-white */
  font-size: 1.125rem; /* text-lg, 18px */
  font-weight: 500; /* font-medium */
  border-radius: 9999px; /* rounded-full */
  padding: 1rem; /* p-4 */
}
